---
layout: default
---
{% assign author = site.authors[page.author] %}
<div id="post" class="the-post">
    <h1>{{ page.title }}</h1>
    <p class="the-meta">Escrito por <a href="{{ author.web }}">{{ author.name }}</a> el {{ page.date | date:'%d/%m/%Y' }}.</p>
    <div class="the-text">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur 45: * isicinga 60: * sed doei 75: * tempor incididunt ut labore et dolore magna aliqua.</p> -->
        {{ content }}
    </div>
    <div class="the-author" id="author">
        <h2><span>El autor</span></h2>
        <h3>{{ author.name }}</h3>
        <p>{{ author.description }}</p>
        <ul>
            <li><a href="{{ author.web }}">Web</a></li>
            <li class="twitter"><a href="http://twitter.com/{{ author.twitter }}">Twitter</a></li>
            <li class="github"><a href="http://github.com/{{ author.github }}">Github</a></li>
    </div>
    <a class="the-action" href="/escribir.html">
        <h2>¿Querés participar en Bahn?</h2>
        <p>Hacerlo es muy fácil, sólo tenés que tener algo genial para compartir.</p>
    </a>
</div>